<!-- <h1>Coaching#answer</h1>
<p>Find me in app/views/coaching/answer.html.erb</p>
 -->

<h2>
  Your question is : <%= @query %>
</h2>

<h2>
  Coach answer : <%= @answer %>
</h2>


<%= link_to "New question ?", coaching_ask_path %>

