<!-- <h1>Coaching#ask</h1>
<p>Find me in app/views/coaching/ask.html.erb</p> -->
<br>
<br>
<br>
<br>
<br>
<br>
<form action="/coaching/answer" method="get">
  <label for="question">Speak to your coach</label>
  <input type="text" id="question" name="query" placeholder="Something to say?">
  <input type="submit" value="Ask">
</form>